body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.solid-color {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.solid-color-rgb {
    background-color: rgb(0, 0, 233);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.solid-color-hsla {
    background-color: hsla(241, 70%, 46%, 0.781);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.background-image {
    background-image: url('img/hannes-kottner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(69, 221, 22);
    padding: 100px 20px;
    margin-bottom: 20px;
}


.gradient-background {
    background-image: linear-gradient(to right, #721903, #edf1ab);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
