.font-family {
    font-family: 'Arial', sans-serif;
}

.font-size {
    font-size: 20px;
}

.font-style {
    font-style: italic;
}

.font-weight {
    font-weight: bold;
}

.text-align {
    text-align: center;
}

.line-height {
    line-height: 2; /* O valor é multiplicado pelo tamanho da fonte atual */
}

.letter-spacing {
    letter-spacing: 4px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}
